In [1]:
import pandas as pd
cars = pd.read_csv(r"E:\Sindhura\DataSets\Cars93.csv")
cars.head()

   id Manufacturer    Model     Type  Min.Price  ...  Rear.seat.room  Luggage.room  Weight   Origin           Make
0   1        Acura  Integra    Small       12.9  ...            26.5          11.0    2705  non-USA  Acura Integra
1   2        Acura   Legend  Midsize       29.2  ...            30.0          15.0    3560  non-USA   Acura Legend
2   3         Audi       90  Compact       25.9  ...            28.0          14.0    3375  non-USA        Audi 90
3   4         Audi      100  Midsize       30.8  ...            31.0          17.0    3405  non-USA       Audi 100
4   5          BMW     535i  Midsize       23.7  ...            27.0          13.0    3640  non-USA       BMW 535i

[5 rows x 28 columns]

## Statistics

In [3]:
cars.describe().T

                    count         mean         std     min     25%     50%     75%     max
id                   93.0    47.000000   26.990739     1.0    24.0    47.0    70.0    93.0
Min.Price            93.0    17.125806    8.746029     6.7    10.8    14.7    20.3    45.4
Price                93.0    19.509677    9.659430     7.4    12.2    17.7    23.3    61.9
Max.Price            93.0    21.898925   11.030457     7.9    14.7    19.6    25.3    80.0
MPG.city             93.0    22.365591    5.619812    15.0    18.0    21.0    25.0    46.0
MPG.highway          93.0    29.086022    5.331726    20.0    26.0    28.0    31.0    50.0
EngineSize           93.0     2.667742    1.037363     1.0     1.8     2.4     3.3     5.7
Horsepower           93.0   143.827957   52.374410    55.0   103.0   140.0   170.0   300.0
RPM                  93.0  5280.645161  596.731690  3800.0  4800.0  5200.0  5750.0  6500.0
Rev.per.mile         93.0  2332.204301  496.506525  1320.0  1985.0  2340.0  2565.0  3755.0
Fuel.tank.capacity   93.0    16.664516    3.279370     9.2    14.5    16.4    18.8    27.0
Passengers           93.0     5.086022    1.038979     2.0     4.0     5.0     6.0     8.0
Length               93.0   183.204301   14.602382   141.0   174.0   183.0   192.0   219.0
Wheelbase            93.0   103.946237    6.819674    90.0    98.0   103.0   110.0   119.0
Width                93.0    69.376344    3.778986    60.0    67.0    69.0    72.0    78.0
Turn.circle          93.0    38.956989    3.223265    32.0    37.0    39.0    41.0    45.0
Rear.seat.room       91.0    27.829670    2.989072    19.0    26.0    27.5    30.0    36.0
Luggage.room         82.0    13.890244    2.997967     6.0    12.0    14.0    15.0    22.0
Weight               93.0  3072.903226  589.896510  1695.0  2620.0  3040.0  3525.0  4105.0

In [4]:
cars.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

In [5]:
cars.dtypes

id                      int64
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Weight                  int64
Origin                 object
Make                   object
dtype: object

In [6]:
cars.dtypes =="object"

id                    False
Manufacturer           True
Model                  True
Type                   True
Min.Price             False
Price                 False
Max.Price             False
MPG.city              False
MPG.highway           False
AirBags                True
DriveTrain             True
Cylinders              True
EngineSize            False
Horsepower            False
RPM                   False
Rev.per.mile          False
Man.trans.avail        True
Fuel.tank.capacity    False
Passengers            False
Length                False
Wheelbase             False
Width                 False
Turn.circle           False
Rear.seat.room        False
Luggage.room          False
Weight                False
Origin                 True
Make                   True
dtype: bool

In [7]:
cars.dtypes !="object"

id                     True
Manufacturer          False
Model                 False
Type                  False
Min.Price              True
Price                  True
Max.Price              True
MPG.city               True
MPG.highway            True
AirBags               False
DriveTrain            False
Cylinders             False
EngineSize             True
Horsepower             True
RPM                    True
Rev.per.mile           True
Man.trans.avail       False
Fuel.tank.capacity     True
Passengers             True
Length                 True
Wheelbase              True
Width                  True
Turn.circle            True
Rear.seat.room         True
Luggage.room           True
Weight                 True
Origin                False
Make                  False
dtype: bool

In [10]:
cars.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

## Separate Data into categorical data and continuous data

Categorical Data

In [11]:
fil1 = cars.dtypes =="object"
cat = list(cars.columns[fil1])
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

Continuous Data

In [14]:
fil2 = cars.dtypes!="object"
con = list(cars.columns[fil2])
con

['id',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight']

In [16]:
cars[cat].describe().T

                count unique            top freq
Manufacturer       93     32      Chevrolet    8
Model              93     93        Integra    1
Type               93      6        Midsize   22
AirBags            56      2    Driver only   42
DriveTrain         93      3          Front   67
Cylinders          93      6              4   49
Man.trans.avail    93      2            Yes   61
Origin             93      2            USA   48
Make               93     93  Acura Integra    1

In [18]:
cars[con].describe().T

                    count         mean         std     min     25%     50%     75%     max
id                   93.0    47.000000   26.990739     1.0    24.0    47.0    70.0    93.0
Min.Price            93.0    17.125806    8.746029     6.7    10.8    14.7    20.3    45.4
Price                93.0    19.509677    9.659430     7.4    12.2    17.7    23.3    61.9
Max.Price            93.0    21.898925   11.030457     7.9    14.7    19.6    25.3    80.0
MPG.city             93.0    22.365591    5.619812    15.0    18.0    21.0    25.0    46.0
MPG.highway          93.0    29.086022    5.331726    20.0    26.0    28.0    31.0    50.0
EngineSize           93.0     2.667742    1.037363     1.0     1.8     2.4     3.3     5.7
Horsepower           93.0   143.827957   52.374410    55.0   103.0   140.0   170.0   300.0
RPM                  93.0  5280.645161  596.731690  3800.0  4800.0  5200.0  5750.0  6500.0
Rev.per.mile         93.0  2332.204301  496.506525  1320.0  1985.0  2340.0  2565.0  3755.0
Fuel.tank.capacity   93.0    16.664516    3.279370     9.2    14.5    16.4    18.8    27.0
Passengers           93.0     5.086022    1.038979     2.0     4.0     5.0     6.0     8.0
Length               93.0   183.204301   14.602382   141.0   174.0   183.0   192.0   219.0
Wheelbase            93.0   103.946237    6.819674    90.0    98.0   103.0   110.0   119.0
Width                93.0    69.376344    3.778986    60.0    67.0    69.0    72.0    78.0
Turn.circle          93.0    38.956989    3.223265    32.0    37.0    39.0    41.0    45.0
Rear.seat.room       91.0    27.829670    2.989072    19.0    26.0    27.5    30.0    36.0
Luggage.room         82.0    13.890244    2.997967     6.0    12.0    14.0    15.0    22.0
Weight               93.0  3072.903226  589.896510  1695.0  2620.0  3040.0  3525.0  4105.0

## Central Tendency

In [19]:
cars["Horsepower"].mean()

np.float64(143.8279569892473)

In [20]:
cars["Horsepower"].median()

140.0

In [21]:
cars["Horsepower"].mode()

0    110
1    170
Name: Horsepower, dtype: int64

In [22]:
cars["Type"].mode()

0    Midsize
Name: Type, dtype: object

In [27]:
cars.agg({"Weight":["mean","median"]})

             Weight
mean    3072.903226
median  3040.000000

In [28]:
cars["Horsepower"].mode()

0    110
1    170
Name: Horsepower, dtype: int64

In [29]:
cars["Horsepower"].mode()[0]

np.int64(110)

In [31]:
cars["Weight"].nunique()

81

In [30]:
cars["Weight"].mode()

0     2295
1     2350
2     2490
3     2970
4     2985
5     3085
6     3240
7     3470
8     3495
9     3515
10    3715
11    3735
Name: Weight, dtype: int64

In [32]:
cars.agg({
    "Weight":["mean","std","median"],
    "Horsepower":["mean","std","median"],
    "MPG.city":["mean","std","median"]
})

             Weight  Horsepower   MPG.city
mean    3072.903226  143.827957  22.365591
std      589.896510   52.374410   5.619812
median  3040.000000  140.000000  21.000000